body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  textarea {
    resize: none;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  input[type="number"] {
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  #notes-list {
    margin-top: 20px;
  }
  
  .note-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}
  
  .note-item:last-child {
    border-bottom: none;
  }
  
  .note-content {
    flex-grow: 1; /* Permet au contenu de prendre tout l'espace disponible */
    margin-right: 10px;
}
.importance-display, 
.importance-input {
    /* margin-left: 10px; */
    /* width: 50px; */
    text-align: center;
}
  
.note-actions {
  display: flex;
  align-items: center;
}
  
  .note-actions button {
    background: none;
    border: none;
    color: #dc3545;
    cursor: pointer;
  }
  
  .note-actions button:hover {
    text-decoration: underline;
  }
  .note-actions {
    margin-top: 10px;
}

.delete-button, .update-button {
    background-color: #f44336; /* Rouge pour Delete */
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
}

.update-button {
    background-color: #4CAF50; /* Vert pour Update */
}

.delete-button:hover {
    background-color: #160606;
}

.update-button:hover {
    background-color: #388e3c;
}

.delete-button:focus, .update-button:focus {
    outline: none;
}

.importance-selector {
  margin-left: 10px;
  padding: 5px;
  font-size: 14px;
}

.star-container {
  margin-top: 5px;
  margin-bottom: 10px;
}

.star-container i {
  color: #FFD700; /* Couleur or pour les étoiles */
  margin-right: 2px;
}

.note-actions button {
  background: none;
  border: none;
  color: #f00;
  cursor: pointer;
  font-size: 1.2em;
  margin-left: 10px;
}

.note-actions button:focus {
  outline: none;
}

.note-actions button i {
  pointer-events: none; /* Pour que les clics passent à travers l'icône */
}